services:
  db:
    container_name: nextcloud_database
    image: mariadb:10.6
    restart: unless-stopped
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    networks:
      - nextcloud
    volumes:
      - ./storage/db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - TZ=Asia/Phnom_Penh
      
  redis:
    image: redis:alpine
    container_name: nextcloud_redis
    restart: unless-stopped
    volumes:
      - nextcloud_redis:/data
    networks:
      - nextcloud

  app:
    container_name: nextcloud_app
    image: nextcloud
    restart: unless-stopped
    ports:
      - 8000:80
    depends_on:
      - db
      - redis
    networks:
      - nextcloud
    volumes:
      - ./storage/app:/var/www/html
    environment:
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_HOST=db
      - REDIS_HOST=redis
      - TZ=Asia/Phnom_Penh
      - PHP_UPLOAD_LIMIT=10G
      - PHP_POST_MAX_SIZE=10G
      - PHP_MEMORY_LIMIT=2048M
      
  collabora:
    image: collabora/code:24.04.12.3.1
    ports:
      - 9980:9980
    container_name: collabora
    networks:
      - nextcloud
    environment:
      aliasgroup1: ${COLLABORA_ALIASES}
      domain: ${NEXTCLOUD_DOMAIN}  
      DONT_GEN_SSL_CERT: "YES"
      extra_params: |
        --o:ssl.enable=false \
        --o:ssl.ssl_verification=true \
        --o:ssl.termination=true \
        --o:welcome.enable=false
      username: ${COLLABORA_USER}
      password: ${COLLABORA_PASS}
    cap_add:
      - MKNOD
    logging:
      driver: ${LOG_DRIVER:-local}
    restart: unless-stopped
    command: ["bash", "-c", "coolconfig generate-proof-key ; /start-collabora-online.sh"]
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9980/hosting/discovery" ]

  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    ports:
      - "443:443"
      - "81:81"
    volumes:
      - npm_data:/data
      - npm_data:/etc/letsencrypt
    environment:
      - TZ=Asia/Phnom_Penh
    restart: unless-stopped
    networks:
      - nextcloud
    dns:
      - 1.1.1.1

networks:
  nextcloud:
    external: true

volumes:
  nextcloud_redis:
    external: true
  npm_data:
    external: true
